.container {
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  width: 50%;
}


/* div.contents.row h2 {
  margin: 20px 0;
  padding: 0;
  font-weight: normal;
} */

/* div.contents.row h2 strong {
  font-weight: bold;
  padding-right: 5px;
  font-size: 1.2em;
} */