.form-search-wrap{
  height: 20vh;
  width: 50vw;
  background-color: #f8f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-tag-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input-search-tag{
  padding-left: 10px;
}

.search-submit-post{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.search-submit-btn{
  text-align: center;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.search-window {
  display: flex;
}